<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layouts/default-head :: head"></head>

<body class="d-flex flex-column min-vh-100">
    <nav th:replace="layouts/menu :: menu"></nav>

    <div class="container">
        <h2 class="my-3">Product Dashboard</h2>

        <form th:action="@{/product/search/searchId}" method="get">
            <div class="input-group my-3" style="width: 250px;">
                <input type="text" th:name="search" class="form-control mr-1" placeholder="Search With Product">
                <button type="submit" class="btn btn-secondary bi bi-search"></button>
            </div>
        </form>

        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <th>HSN Code</th>
                <th>Particulars</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr th:each="tempProduct : ${productList}">
                    <td th:text="${tempProduct.hsnCode}" />
                    <td th:text="${tempProduct.particulars}" />
                    <td>
                        <a th:href="@{/product/update/{id}(id=${tempProduct.id})}" class="btn btn-success">Update</a>
                        <a sec:authorize="hasRole('MANAGER')" th:href="@{/product/remove/{id}(id=${tempProduct.id})}"
                            class="btn btn-danger">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer th:replace="layouts/footer :: footer"></footer>
    <div th:replace="layouts/default-script :: script"></div>
</body>

</html>