<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="menu">
    <!-- Container wrapper -->
    <div class="container-fluid">

        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.png}" alt="HAA Enterprises Logo" height="50px" loading="lazy">
        </a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse_Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="collapse_Navbar">
            <!-- Left links -->
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class=" nav-item">
                    <a class="nav-link active" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Customer Services
                    </a>

                    <div class="dropdown-menu bg-light">
                        <a class="dropdown-item" th:href="@{/customer/dashboard}">Customer Dashboard</a>
                        <a class="dropdown-item" th:href="@{/customer/showFormForAdd}">Add Customer</a>
                    </div>
                </li>
            </ul>
            <!-- Left links -->
            <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                <button class="btn btn-danger" type="submit">Logout</button>
            </form>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->