<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layouts/default-head :: head"></head>

<body class="d-flex flex-column min-vh-100">
    <nav th:replace="layouts/menu :: menu"></nav>

    <div class="container">
        <h2 class="my-3">Dashboard</h2>

        <div class="row">
            <div class="col">
                <form th:action="@{/invoice/search/searchId}" method="get">
                    <div class="input-group my-3" style="width: 250px;">
                        <input type="text" th:name="search" class="form-control mr-1" placeholder="Search Details">
                        <button type="submit" class="btn btn-secondary bi bi-search"></button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-sm-auto">
                <div class="my-3">
                    <a class="btn btn-secondary" th:href="@{/invoice/generate}">Generate Invoice</a>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <th class="col col-sm-2">
                    Invoice ID
                </th>
                <th>GST No</th>
                <th class="col col-sm-2">
                    Customer Name
                </th>
                <th class="col col-sm-2">
                    Bill Amount
                </th>
                <th class="col col-sm-2">
                    Date
                </th>
                <th class="col-2">Action</th>
            </thead>
            <tbody>
                <tr th:each="tempInvoice : ${invoiceList}">
                    <td th:text="${tempInvoice.invoiceId}" />
                    <td th:each="tempCustomer: ${tempInvoice.customer}" th:text="${tempCustomer.gstNo}" />
                    <td th:each="tempCustomer: ${tempInvoice.customer}" th:text="${tempCustomer.customerName}" />
                    <td th:text="${tempInvoice.grandTotal}" />
                    <td th:text="${tempInvoice.invoiceDate}" />
                    <td>
                        <a th:href="@{/invoice/update/{id}(id=${tempInvoice.invoiceId})}"
                            class="btn btn-success bi bi-pencil-square"></a>
                        <a sec:authorize="hasRole('MANAGER')"
                            th:href="@{/invoice/remove/{id}(id=${tempInvoice.invoiceId})}"
                            class="btn btn-danger bi bi-trash"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer th:replace="layouts/footer :: footer"></footer>
    <div th:replace="layouts/default-script :: script"></div>
</body>

</html>